gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

// Commit 6: Implement app theme and colors

// Commit 83: Add FAQ section

// Commit 160: Create deployment automation
